export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export GLFW_IM_MODULE=ibus
# export QT_SCALE_FACTOR=2
# export GDK_SCALE=2

export TERMINAL=kitty
export EDITOR=nvim
export PAGER=less
export https_proxy=http://127.0.0.1:7897
export http_proxy=http://127.0.0.1:7897
export all_proxy=socks5://127.0.0.1:7897
export no_proxy=localhost,127.0.0.1
